*{
	font-family: 'Verdana','Helvetica', 'Arial', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.main-menu, .newgame-menu, .howto-menu, .about-menu{
	overflow: hidden;
}

.title{
	padding-bottom: 2%;
	font-variant: small-caps;
	font-weight: bold;
	color: black;
}

#bubble{
	padding: 4%;
	background-color: #E0ECFF;
	border-radius: 30px;
	margin-left: auto !important;
	margin-right: auto !important;
	border: solid 4px;
	width: fit-content;
	block-size: fit-content;
}


.menu-list{
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	white-space: nowrap; 
}

.menu-list li{
	margin-bottom: 3%;
}

.menu-link:link, .menu-link:visited,.menu-link:focus, .menu-link:active  {
	text-decoration: none;
	color: black;
}
.menu-link:hover {
	text-decoration: underline;
	color: black;
}

.body, html{
 	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #6E85B7;
	min-height: 100%;

}

@media only screen and (max-width: 750px) {
	*{
		font-size: 20px;
	}
}
@media only screen and (max-width: 430px) {
	*{
		font-size: 15px;
	}
}

#btn{
	background-color: white;
	border: black solid 5px;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	margin-left: 2%;
}
